# 1. you need to create external network (kafka1,kafka2...): docker network create
# 2. if you run docker locally: add 127.0.0.1 kafka-1 (and all kafka's and zookeepers amd mirror into your /etc/hosts)

version: '3.1'

networks:
  kafka1:
    driver: "bridge"
  kafka2:
    driver: "bridge"
  ext_network:
    external: true

services:

  zookeeper-1:
    container_name: zookeeper-1
    image: confluentinc/cp-zookeeper:5.4.0
    ports:
      - 2181:2181
    environment:
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_INIT_LIMIT: 5
      ZOOKEEPER_SYNC_LIMIT: 2
      ZOOKEEPER_SERVERS: zookeeper-1:2888:3888;zookeeper-2:12888:13888;zookeeper-3:22888:23888
    networks:
      - kafka1
      - ext_network

  zookeeper-2:
    container_name: zookeeper-2
    image: confluentinc/cp-zookeeper:5.4.0
    ports:
      - 12181:12181
    environment:
      ZOOKEEPER_SERVER_ID: 2
      ZOOKEEPER_CLIENT_PORT: 12181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_INIT_LIMIT: 5
      ZOOKEEPER_SYNC_LIMIT: 2
      ZOOKEEPER_SERVERS: zookeeper-1:2888:3888;zookeeper-2:12888:13888;zookeeper-3:22888:23888
    networks:
      - kafka1
      - ext_network

  zookeeper-3:
    container_name: zookeeper-3
    image: confluentinc/cp-zookeeper:5.4.0
    ports:
      - 22181:22181
    environment:
      ZOOKEEPER_SERVER_ID: 3
      ZOOKEEPER_CLIENT_PORT: 22181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_INIT_LIMIT: 5
      ZOOKEEPER_SYNC_LIMIT: 2
      ZOOKEEPER_SERVERS: zookeeper-1:2888:3888;zookeeper-2:12888:13888;zookeeper-3:22888:23888
    networks:
      - kafka1
      - ext_network

  kafka-1:
    container_name: kafka-1
    ports:
      - 9092:9092
    image: confluentinc/cp-kafka:5.4.0
    links:
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
    depends_on:
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper-1:2181,zookeeper-2:12181,zookeeper-3:22181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-1:9092
    networks:
      - kafka1
      - ext_network

  kafka-2:
    container_name: kafka-2
    ports:
      - 19092:19092
    image: confluentinc/cp-kafka:5.4.0
    links:
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
    depends_on:
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
    environment:
      KAFKA_BROKER_ID: 2
      KAFKA_ZOOKEEPER_CONNECT: zookeeper-1:2181,zookeeper-2:12181,zookeeper-3:22181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-2:19092
    networks:
      - kafka1
      - ext_network

  kafka-3:
    container_name: kafka-3
    ports:
      - 29092:29092
    image: confluentinc/cp-kafka:5.4.0
    links:
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
    depends_on:
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
    environment:
      KAFKA_BROKER_ID: 3
      KAFKA_ZOOKEEPER_CONNECT: zookeeper-1:2181,zookeeper-2:12181,zookeeper-3:22181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-3:29092
    networks:
      - kafka1
      - ext_network

  zookeeper-4:
    container_name: zookeeper-4
    image: confluentinc/cp-zookeeper:5.4.0
    ports:
      - 32181:32181
    environment:
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_CLIENT_PORT: 32181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_INIT_LIMIT: 5
      ZOOKEEPER_SYNC_LIMIT: 2
      ZOOKEEPER_SERVERS: zookeeper-4:32888:33888;zookeeper-5:42888:43888;zookeeper-6:52888:53888
    networks:
      - kafka2
      - ext_network

  zookeeper-5:
    container_name: zookeeper-5
    image: confluentinc/cp-zookeeper:5.4.0
    ports:
      - 42181:42181
    environment:
      ZOOKEEPER_SERVER_ID: 2
      ZOOKEEPER_CLIENT_PORT: 42181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_INIT_LIMIT: 5
      ZOOKEEPER_SYNC_LIMIT: 2
      ZOOKEEPER_SERVERS: zookeeper-4:32888:33888;zookeeper-5:42888:43888;zookeeper-6:52888:53888
    networks:
      - kafka2
      - ext_network

  zookeeper-6:
    container_name: zookeeper-6
    image: confluentinc/cp-zookeeper:5.4.0
    ports:
      - 52181:52181
    environment:
      ZOOKEEPER_SERVER_ID: 3
      ZOOKEEPER_CLIENT_PORT: 52181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_INIT_LIMIT: 5
      ZOOKEEPER_SYNC_LIMIT: 2
      ZOOKEEPER_SERVERS: zookeeper-4:32888:33888;zookeeper-5:42888:43888;zookeeper-6:52888:53888
    networks:
      - kafka2
      - ext_network

  kafka-4:
    container_name: kafka-4
    ports:
      - 39092:39092
    image: confluentinc/cp-kafka:5.4.0
    links:
      - zookeeper-4
      - zookeeper-5
      - zookeeper-6
    depends_on:
      - zookeeper-4
      - zookeeper-5
      - zookeeper-6
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper-4:32181,zookeeper-5:42181,zookeeper-6:52181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-4:39092
    networks:
      - kafka2
      - ext_network

  kafka-5:
    container_name: kafka-5
    ports:
      - 49092:49092
    image: confluentinc/cp-kafka:5.4.0
    links:
      - zookeeper-4
      - zookeeper-5
      - zookeeper-6
    depends_on:
      - zookeeper-4
      - zookeeper-5
      - zookeeper-6
    environment:
      KAFKA_BROKER_ID: 2
      KAFKA_ZOOKEEPER_CONNECT: zookeeper-4:32181,zookeeper-5:42181,zookeeper-6:52181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-5:49092
    networks:
      - kafka2
      - ext_network

  kafka-6:
    container_name: kafka-6
    ports:
      - 59092:59092
    image: confluentinc/cp-kafka:5.4.0
    links:
      - zookeeper-4
      - zookeeper-5
      - zookeeper-6
    depends_on:
      - zookeeper-4
      - zookeeper-5
      - zookeeper-6
    environment:
      KAFKA_BROKER_ID: 3
      KAFKA_ZOOKEEPER_CONNECT: zookeeper-4:32181,zookeeper-5:42181,zookeeper-6:52181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-6:59092
    networks:
      - kafka2
      - ext_network

  mirror-maker-1:
    container_name: mirror-1
    image: confluentinc/cp-kafka-connect-base:5.4.0
    ports:
      - 8083:8083
#    environment: # mirror-maker 1.x and use of local docker
#      - "NUM_THREADS=4" # mirror-maker 1.x and use of local docker
#      - "PRODUCER_CONFIG=/etc/producer.cfg" # mirror-maker 1.x and use of local docker
#      - "CONSUMER_CONFIG=/etc/consumer.cfg" # mirror-maker 1.x and use of local docker
    volumes:
#      - ./mirror_maker/consumer.cfg:/etc/consumer.cfg # mirror-maker 1.x
#      - ./mirror_maker/producer.cfg:/etc/producer.cfg # mirror-maker 1.x
      - ./mirror_maker/mm2.properties:/etc/mm2.properties
      - ./mirror_maker/log4j.properties:/usr/config/connect-log4j.properties
    # mirror-maker 1.x
    #command: bash -c "kafka-mirror-maker --consumer.config /etc/consumer.cfg --producer.config /etc/producer.cfg --num.streams 4 --whitelist='.*'"
    # mirror-maker 2.x
    command: bash -c "connect-mirror-maker /etc/mm2.properties --clusters A B"
    healthcheck:
      disable: true
    networks:
      - kafka1
      - kafka2
      - ext_network