version: '3.1'

volumes:
    prometheus_data: {}
    grafana_data: {}
    portainer_data: {}

networks:
  kafka:

services:
  kafka-monitor:
    container_name: kafka-monitor
    image: grinfeld/kafka-monitor
    depends_on:
      - prometheus
    volumes:
      - $PWD/kafka-monitor/kafka-monitor.properties:/opt/kafka-monitor/config/kafka-monitor.properties
      - $PWD/jmx_exporter/config.yml:/opt/jmx_exporter/config.yml
      - $PWD/kafka-prometheus/libs/jmx_prometheus_javaagent-0.10.jar:/opt/jmx_exporter/jmx_prometheus_javaagent-0.10.jar
    entrypoint:
      - /opt/kafka-monitor/bin/kafka-monitor-start.sh
      - /opt/kafka-monitor/config/kafka-monitor.properties
      - '-javaagent:/opt/jmx_exporter/jmx_prometheus_javaagent-0.10.jar=5559:/opt/jmx_exporter/config.yml'
    ports:
      - 8000:8000
      - 8778:8778
      - 5559:5559
    networks:
      - kafka
    restart: always

  prometheus:
    container_name: prometheus
    image: prom/prometheus:v2.1.0
    volumes:
      - ./prometheus/:/etc/prometheus/
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    ports:
      - 9090:9090
    links:
      - kafka-exporter
    networks:
      - kafka
    depends_on:
      - kafka-exporter
    restart: always

  grafana:
    container_name: grafana
    image: grafana/grafana
    depends_on:
      - prometheus
    ports:
     - 3000:3000
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning/:/etc/grafana/provisioning/
    env_file:
      - ./grafana/config.monitoring
    networks:
      - kafka
    restart: always
  
  kafka-exporter:
    container_name: kafka-exporter
    image: danielqsj/kafka-exporter:latest
    ports:
      - 9308:9308
    entrypoint:
        - /bin/kafka_exporter
        - --kafka.server=kafka-1:9092
        - --kafka.server=kafka-2:29092
        - --kafka.server=kafka-3:39092
    links:
      - kafka-1
      - kafka-2
      - kafka-3
    networks:
      - kafka
    depends_on:
      - kafka-1
      - kafka-2
      - kafka-3
    restart: always
 
  zookeeper-1:
    container_name: zookeeper-1
    image: confluentinc/cp-zookeeper:latest
    ports:
     - 22181:22181 
    environment:
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_CLIENT_PORT: 22181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_INIT_LIMIT: 5
      ZOOKEEPER_SYNC_LIMIT: 2
      ZOOKEEPER_SERVERS: zookeeper-1:22888:23888;zookeeper-2:32888:33888;zookeeper-3:42888:43888
    networks:
      - kafka

  zookeeper-2:
    container_name: zookeeper-2
    image: confluentinc/cp-zookeeper:latest
    ports:
     - 32181:32181
    environment:
      ZOOKEEPER_SERVER_ID: 2
      ZOOKEEPER_CLIENT_PORT: 32181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_INIT_LIMIT: 5
      ZOOKEEPER_SYNC_LIMIT: 2
      ZOOKEEPER_SERVERS: zookeeper-1:22888:23888;zookeeper-2:32888:33888;zookeeper-3:42888:43888
    networks:
      - kafka

  zookeeper-3:
    container_name: zookeeper-3
    image: confluentinc/cp-zookeeper:latest
    ports:
     - 42181:42181
    environment:
      ZOOKEEPER_SERVER_ID: 3
      ZOOKEEPER_CLIENT_PORT: 42181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_INIT_LIMIT: 5
      ZOOKEEPER_SYNC_LIMIT: 2
      ZOOKEEPER_SERVERS: zookeeper-1:22888:23888;zookeeper-2:32888:33888;zookeeper-3:42888:43888
    networks:
      - kafka
  
  kafka-1:
    container_name: kafka-1
    hostname: kafka-1
    ports:
     - 9092:9092
     - 5556:5556
    build: ./kafka-prometheus
    volumes:
      - $PWD/jmx_exporter/config.yml:/opt/jmx_exporter/config.yml
    links:
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
    depends_on:
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper-1:22181,zookeeper-2:32181,zookeeper-3:42181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-1:9092
      #KAFKA_MIN_INSYNC_REPLICAS: 1
      #KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      #KAFKA_REPLICATION_FACTOR: 2
      EXTRA_ARGS: "-javaagent:/usr/local/share/jars/jmx_prometheus_javaagent-0.10.jar=5556:/opt/jmx_exporter/config.yml "
    networks:
      - kafka

  kafka-2:
    container_name: kafka-2
    hostname: kafka-2
    ports:
     - 29092:29092
     - 5557:5557
    build: ./kafka-prometheus
    volumes:
      - $PWD/jmx_exporter/config.yml:/opt/jmx_exporter/config.yml
    links:
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
    depends_on:
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
    environment:
      KAFKA_BROKER_ID: 2
      KAFKA_ZOOKEEPER_CONNECT: zookeeper-1:22181,zookeeper-2:32181,zookeeper-3:42181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-2:29092
      #KAFKA_MIN_INSYNC_REPLICAS: 1
      #KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      #KAFKA_REPLICATION_FACTOR: 2
      EXTRA_ARGS: "-javaagent:/usr/local/share/jars/jmx_prometheus_javaagent-0.10.jar=5557:/opt/jmx_exporter/config.yml "
    networks:
      - kafka

  kafka-3:
    container_name: kafka-3
    hostname: kafka-3
    ports:
     - 39092:39092
     - 5558:5558
    build: ./kafka-prometheus
    volumes:
      - $PWD/jmx_exporter/config.yml:/opt/jmx_exporter/config.yml
    links:
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
    depends_on:
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
    environment:
      KAFKA_BROKER_ID: 3
      KAFKA_ZOOKEEPER_CONNECT: zookeeper-1:22181,zookeeper-2:32181,zookeeper-3:42181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-3:39092
      #KAFKA_MIN_INSYNC_REPLICAS: 1
      #KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      #KAFKA_REPLICATION_FACTOR: 2
      EXTRA_ARGS: "-javaagent:/usr/local/share/jars/jmx_prometheus_javaagent-0.10.jar=5558:/opt/jmx_exporter/config.yml "
    networks:
      - kafka

  portainer:
    image: portainer/portainer
    container_name: "portainer-app"
    ports:
      - 9000:9000
    volumes:
      - portainer_data:/data portainer/portainer
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - kafka